<html>
<head>
<style>
.btn {
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 5%;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}
</style>
</head>
<body>
<div style="text-align:center">
<button type="button" class="btn" onclick="location.href='http://0.0.0.0:8000/apps/service.index.html'">apps</button>
'
<button type="button" class="btn" onclick="location.href='http://0.0.0.0:8000/linux/service.index.html'">linux</button>
'
<button type="button" class="btn" onclick="location.href='http://0.0.0.0:8000/master/service.index.html'">master</button>
'
<button type="button" class="btn" onclick="location.href='http://0.0.0.0:8000/dev/service.index.html'">dev</button>
'
</div></body>
</html>